## develop
<VirtualHost *:443>
    ServerAdmin ads@email.com
    ServerName host.docker.internal
    ProxyPreserveHost On
    ProxyPass / http://fr_app/
    ProxyPassReverse / http://fr_app/
    Timeout 1800

    # para enviar o protocolo https como informação
    RequestHeader set X-Forwarded-Proto https

    # Header set Referrer-Policy "strict-origin"
    # Header set X-Frame-Options "ALLOW-FROM=*"
    
    ## Permissão do letsencrypt 
    Alias /.well-known /home/letsencrypt/data/.well-known
    <Directory /home/letsencrypt/data/.well-known>
        Require all granted
    </Directory>
    <Location /.well-known/acme-challenge>
        Require all granted
    </Location>

    # antes do letsencrypt
    SSLCertificateKeyFile /usr/local/apache2/certs/server.key
    SSLCertificateFile /usr/local/apache2/certs/server.crt

    # # Letsencrypt
    # SSLCertificateFile /home/letsencrypt/certs/live/dev-application.com/cert.pem
    # SSLCertificateKeyFile /home/letsencrypt/certs/live/dev-application.com/privkey.pem
    # SSLCertificateChainFile /home/letsencrypt/certs/live/dev-application.com/fullchain.pem

     # SSL Protocols
    SSLProtocol ALL -SSLv2 -SSLv3
    SSLHonorCipherOrder On
    SSLCipherSuite ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5
    SSLCompression Off

</VirtualHost>


<VirtualHost *:80>
    ServerAdmin ads@email.com
    ServerName host.docker.internal
    Redirect / https://host.docker.internal:${APACHE_PORT}/
    
    ## Permissão do letsencrypt 
    Alias /.well-known /home/letsencrypt/data/.well-known
    <Directory /home/letsencrypt/data/.well-known>
        Require all granted
    </Directory>
    <Location /.well-known/acme-challenge>
        Require all granted
    </Location>

</VirtualHost> 
