# latest | homolog | develop
COMPOSE_PROJECT_NAME=
ENVIROMENT=prod

# Apache and PHP
APACHE_EXPOSED_PORT=80
APACHE_EXPOSED_PORT_SSL=443

# Application configs
PERSISTPATH=./persist
LOCAL_HTDOCS=./persist/apps
LETSENCRYPT_EMAIL=
AWS_ECR=
AWS_REGION=us-east-2

# Paths configs to httpd. Do not update.
APACHE_ROOT_DIR=/usr/local/apache2
