# environment: dev hml or prod
ENVIRONMENT=prod

# Application config
URL=

# Config on docker
DBHOST=host.docker.internal
DBUSER=
DBPASS=
DBNAME=
DBPORT=

# The settings below refer to the docker application. 
# Uncomment and use as needed

# use true only on the machine when crontab is working
INSTALL_CRONTAB=false

# PHP Configs
# PHP_DISPLAY_ERRORS=On
# PHP_ERROR_REPORTING=E_ALL
# PHP_MEMORY_LIMIT=512M
# PHP_MAX_EXECUTION_TIME=99
# PHP_POST_MAX_SIZE=10G
# PHP_UPLOAD_MAX_FILE_SIZE=10G
# PHP_PM_CONTROL=dynamic
# PHP_PM_MAX_CHILDREN=341
# PHP_PM_START_SERVERS=8
# PHP_PM_MIN_SPARE_SERVERS=4
# PHP_PM_MAX_SPARE_SERVERS=8
# PHP_PM_MAX_REQUEST=200

# Apache Configs
# APACHE_START_SERVERS=2
# APACHE_MIN_SPARE_THREADS=2
# APACHE_MAX_SPARE_THREADS=75
# APACHE_THREAD_LIMIT=64
# APACHE_THREADS_PER_CHILD=25
# APACHE_MAX_REQUEST_WORKERS=150
# APACHE_MAX_CONNECTIONS_PER_CHILD=0
# APACHE_DOCUMENT_ROOT=/var/www/html/api
# APACHE_SSL_CRTFILE=../httpd/certs/server.crt 
# APACHE_SSL_KEYFILE=../httpd/certs/server.key